/*Top banner*/

#top {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Alegreya Sans', sans-serif;
	margin-bottom: 30px;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 60%;
	margin-top: -30px;
	margin-bottom: -40px;
}

#header_name {	
	padding: 10px;
	font-size: 70px;	
}

#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 45%;
	font-size: 20px;
	font-weight: bold;
}

a:link {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #F08C52;
}


@media only screen and (max-width: 600px) {
	#top {
		align-items: flex-start;
		background-image: url("works/front/installation.png");
		background-size: cover;
	}

	#header {
		justify-content: flex-start;
	}

	#header_name {
		width: 100%;
		font-size: 100px;
		padding: none;
		color: #F08C52;
	}

	#menu {
		flex-direction: column;
		font-size: 50px;
		margin-left: 20px;
	}

	#main_image {
		display: none;
	}

	
}




/*Main page image*/

#main_image_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

#main_image {
	width: 50%;
	height: auto;
}




/*CV page*/

#cv_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#cv_body {
	display: flex;
	flex-direction: column;
	width: 80%;
	align-items: flex-start;
	font-family: 'Alegreya Sans', sans-serif;

}

.cv_header {
	margin-top: 40px;
}

.entry {
	display: flex;
	flex-direction: row;
	align-items: space-around;
	margin-bottom: 10px;

}

.entry:hover {
	color: #F08C52;
}

.cv_date {
	font-weight: bold;
	width: 70px;	
}

.cv_content_box {
	display: flex; 
	flex-direction: column;
	margin-left: 20px;
}



/*Contact page*/

.contacts_body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	font-family: 'Alegreya Sans', sans-serif;
}

.details {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 50%;
}

.left_contact {
	font-weight: bold;
}

.right_contact {
	margin-left: 20px;
}



/*About page*/

#about_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Alegreya Sans', sans-serif;
}

#about_content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 70%;
	margin-top: 30px;
}




/*Carousel page*/

#carousel_body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#main_carousel_div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 90%;
	margin-top: 20px;
        margin-left: auto;
}

#categories_list {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-top: 20px;
	font-family: 'Alegreya Sans', sans-serif;
}

.cat {
	margin-bottom: 15px;
	font-weight: bold;
	cursor: pointer;
}

#city { 
	color: #F08C52;
}

#carousel_images {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-right: 30px;
}

#info {
	width: 20%;
	margin-left: 20px;
}

#chevrons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 70%;
	margin-top: 50px;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 15px;
	cursor: pointer;
}

#count {
	font-size: 20px;
}

#prev {
	font-size: 30px;
	border-radius: 50%;
	background-color: #F08C52;
	border-bottom: -5px;
}

#next {
	font-size: 30px;
	border-radius: 50%;
	background-color: #F08C52;
	border-bottom: -5px;
}

#pic_info_box {
	width: 30%;
	margin-left: 20px;
	font-family: 'Alegreya Sans', sans-serif;
}

#pic_title {
	font-weight: bold;
}

