

#image_box {		
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.image {
	display: flex;
	width: 30%;
	height: auto;
	margin-bottom: 10px;
}

#top {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Alegreya Sans', sans-serif;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 60%;
	margin-top: -30px;
	margin-bottom: -50px;
}

#header_name {	
	padding: 10px;
	font-size: 70px;	
}

#menu {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 45%;
	font-size: 20px;
	font-weight: bold;
}

#main_image_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

#main_image {
	width: 50%;
	height: auto;
}

a:link {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #F08C52;
}

#thumb_box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 30px;
}
		
.pic_link {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-right: 10px;	
	border-style: solid;
}
		
.jpeg {
	display: flex;
	max-height: 200px;
}

#image_box {
	margin-top: 15px;
}

#cv_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#cv_body {
	display: flex;
	flex-direction: column;
	width: 80%;
	align-items: flex-start;
	font-family: 'Alegreya Sans', sans-serif;

}

.cv_header {
	margin-top: 40px;
}

.entry {
	display: flex;
	flex-direction: row;
	align-items: space-around;
	margin-bottom: 10px;

}

.entry:hover {
	color: #F08C52;
}

.cv_date {
	font-weight: bold;
	width: 70px;	
}

.cv_content_box {
	display: flex; 
	flex-direction: column;
	margin-left: 20px;
}

.contacts_body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
	font-family: 'Alegreya Sans', sans-serif;
}

.details {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 50%;
}

.left_contact {
	font-weight: bold;
}

.right_contact {
	margin-left: 20px;
}

#about_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Alegreya Sans', sans-serif;
}

.about_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin-top: 30px;
}

#carousel_body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#main_carousel_div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 90%;
	margin-top: 20px; 
}

#categories_list {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin-top: 20px;
	font-family: 'Alegreya Sans', sans-serif;
}

.cat {
	margin-bottom: 15px;
	font-weight: bold;
}

#carousel_images {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#info {
	width: 20%;
	margin-left: 20px;
}

#chevrons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 70%;
	margin-top: 50px;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 15px;
}

#back {
	
}

#forward {
	
}

#count {
	font-size: 20px;
}

#prev {
	font-size: 30px;
	border-radius: 50%;
	background-color: #F08C52;
	border-bottom: -5px;
}

#next {
	font-size: 30px;
	border-radius: 50%;
	background-color: #F08C52;
	border-bottom: -5px;
}

#pic_info_box {
	margin-left: 20px;
	font-family: 'Alegreya Sans', sans-serif;
}

#pic_title {
	font-weight: bold;
}

